.App {
  text-align: center;
}

.card {
  display: inline-block;
  height: 100px;
  width: 250px;
  background-color: rgb(190, 233, 121);
  border: 2px solid rgb(88, 139, 4);
  border-radius: 3px;
  margin-top: 30px;
}

.card1 {
  float: left;
  margin-left: 10%;
}

.card2 {
  float: right;
  margin-right: 10%;
}

form {
  height: 125px;
  width: 250px;
  background-color: antiquewhite;
  border: 2px solid rgb(231, 150, 43);
  border-radius: 3px;
  margin-left: 50%;
  margin-top: 30px;
  transform: translate(-50%);
}

.form-group {
  margin-top: 20px;
}

.form-msg-input {
  height: 20px;
  font-size: 14px;
}

.form-btn {
  height: 30px;
  width: 70px;
  margin-top: -20px;
  border-radius: 3px;
  font-size: 12px;
}
